.App {
  border: solid;
  width: 50%;
  margin: 10% auto;
}
.header {
  display: flex;
  font-size: 24px;
  border-bottom: solid;
  padding: 10px 20px;
}
.input{
  margin: 0;
}
.header input{
  width: 80%;
  font-size: 24px;
  margin-left: 20px;
  border: none;
}
.header input:focus{
  outline: none;
}


